doctype html
html(lang='ja')
  head
    include ../header.pug
    include ../mapbox.pug
    script 
      - var params = JSON.stringify(groupSpots);
      |var groupSpots=!{params};
  body
    include ../navi.pug
    .container-fluid 
      .row
        .col-sm-6
          #map
          pre#coordinates.coordinates.
      
        .col-sm-6
          if(errors && errors.length > 0)
            .alert.alert-danger(role="alert")
              each err in errors
                i.fa.fa-exclamation
                |   #{err}
                br
          if(success && success.length > 0)
            .alert.alert-success(role="alert")
              i.fa.fa-info-circle
              |   #{success}
          table.table.no-bottom.table-header
            tr
              td(style='width: 180px;')
                | システム管理
              td(style='width: 180px;')
                | マーカー
              td(style='width: 180px;')
                | スポット名
              td(style='width: 180px;')
                | 緯度
              td(style='width: 180px;')
                | 経度
              td(style='width: 180px;')
                | 
          each item in groupSpots
            table.table.no-bottom
              tr
                td(style='width: 180px;')
                  i.fa.fa-caret-down.fa-2x(
                    data-toggle="collapse", 
                    data-target="#" + item.groupId, 
                    class='clickable',
                    onclick="changeCollapseIcon(this);"
                    )
                  |   #{item.groupName} 
                td(style='width: 180px;')
                  img(src=item.mark, alt="", width='16px', height='22px')
                td(style='width: 180px;')
                td(style='width: 180px;')
                td(style='width: 180px;')
                td(style='width: 180px;')
                  .btn-group
                    button.btn.btn-success(type='button', 
                    onclick="changeSpotGroup('" + item.groupId + "')") 変更
                    a.btn.btn-default(href='/manager/spotgroup/delete/' + item.groupId) 削除
            div(id=item.groupId, class='collapse in')
              table.table.no-bottom
                each spot in item.spots
                  tr
                    td(style='width: 180px;')
                    td(style='width: 180px;')
                    td(style='width: 180px;')
                      | #{spot.spotName}
                    td(style='width: 180px;')
                      | #{spot.lat}
                    td(style='width: 180px;')
                      | #{spot.lon}
                    td(style='width: 180px;')
                      .btn-group
                        button.btn.btn-success(type='button', 
                        onclick="changeSpotInfo('" + spot.id + "')") 変更
                        a.btn.btn-default(href='/manager/spot/delete/' + spot.id) 削除
            
          form(action='/manager/spot/create', method='POST', id='formSpotGroup')
            input(type='hidden', name='managerId', value=managerId)
            input(type='hidden', name='adminId', value=adminId)
            table.table
              tr
                td(style='width: 180px;')
                  .input-group.dropdown
                      input.form-control.editableselect(type="text", name='spotGroupName', value=spotSession[0] ? spotSession[0].spotGroupName : '', id='spotGroupName')
                      ul.dropdown-menu
                        each item in groupSpots
                          li
                            a(href='#', data-value=item.groupName) #{item.groupName}
                      span.input-group-addon.dropdown-toggle(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        span.caret
                td(style='width: 180px;')
                  select.form-control(name='mark', id='mark', disabled='disabled')
                    option(value="") -- 選択 --
                    each mark in marks
                      if(spotSession[0] && mark.path == spotSession[0].mark)
                        option(value=mark.path, selected="selected") #{mark.mark}
                      else
                        option(value=mark.path) #{mark.mark}
                td(style='width: 180px;')
                  input.form-control(type='text', name='spotName', id='spotName', value=spotSession[0] ? spotSession[0].spotName : '', placeholder='スポット名')
                td(style='width: 180px;')
                  input.form-control(type='text', name='lat', id='lat' readonly="readonly" value=spotSession[0] ? spotSession[0].lat : '', placeholder='緯度')
                td(style='width: 180px;')
                  input.form-control(type='text', name='lon', id='lon' readonly="readonly" value=spotSession[0] ? spotSession[0].lon : '', placeholder='経度')
                td
                  input.btn.btn-success(type='submit', value='追加', id='submitSpotGroup')
              tr
                td(colspan=6)
                  .btn-group.pull-right
                    button.btn.btn-default.display-none(id='cancelUpdateSpotGroup') キャンセル
                    input.btn.btn-danger.display-none(type='submit', value='更新', id='updateSpotGroup')

    include ../spot_map_setup.pug
    include ../script.pug

