doctype html
html(lang='ja')
  head
    include ../header.pug
  body
    include ../navi.pug
    .container
      .col-sm-offset-4.col-sm-4
        h1.text-center
          |  システム管理
        .panel.panel-default
          .panel-body
            
            a.btn.btn-success.btn-lg.btn-block(href = links[0].link) #{links[0].title}
            br
            a.btn.btn-success.btn-lg.btn-block(href = links[1].link) #{links[1].title}
            br
            a.btn.btn-success.btn-lg.btn-block(href = links[2].link) #{links[2].title}

    include ../script.pug

