doctype html
html(lang='ja')
  head
    include ../header.pug
  body
    include ../navi.pug
    .container
      if(errors && errors.length > 0)
        .alert.alert-danger(role="alert")
          each err in errors
            i.fa.fa-exclamation
            |   #{err}
            br
      if(success && success.length > 0)
        .alert.alert-success(role="alert")
          i.fa.fa-info-circle
          |   #{success}
      
      table.table.no-bottom.table-header
        tr
          td(style='width: 180px;')
            | グループ名
          td(style='width: 180px;')
            | マーカー
          td(style='width: 180px;')
            | ユーザー名
          td(style='width: 180px;')
            | パスワード
          td(style='width: 180px;')
            | 電話番号
          td(style='width: 180px;')
            | 
      each item in groupUsers
        table.table.no-bottom
          tr
            td(style='width: 180px;')
              i.fa.fa-caret-down.fa-2x(
                data-toggle="collapse", 
                data-target="#" + item.groupId, 
                class='clickable',
                onclick="changeCollapseIcon(this);"
                )
              |   #{item.groupName} 
            td(style='width: 180px;')
              img(src=item.mark, alt="", width='16px', height='22px')
            td(style='width: 180px;')
            td(style='width: 180px;')
            td(style='width: 180px;')
            td(style='width: 180px;')
              .btn-group
                button.btn.btn-success(type='button', 
                onclick="changeGroup('" + item.groupId + "')") 変更
                a.btn.btn-default(href='/manager/group/delete/' + item.groupId) 削除
        div(id=item.groupId, class='collapse in')
          table.table.no-bottom
            each user in item.users
              tr
                td(style='width: 180px;')
                td(style='width: 180px;')
                td(style='width: 180px;')
                  | #{user.userId}
                td(style='width: 180px;')
                  | #{user.password}
                td(style='width: 180px;')
                  | #{user.phone}
                td(style='width: 180px;')
                  .btn-group
                    button.btn.btn-success(type='button', 
                    onclick="changeUserInfo('" + user.id + "')") 変更
                    a.btn.btn-default(href='/manager/user/delete/' + user.id) 削除
        
      form(action='/manager/user/create', method='POST', id='formUserGroup')
        input(type='hidden', name='managerId', value=managerId)
        input(type='hidden', name='adminId', value=adminId)
        table.table
          tr
            td(style='width: 180px;')
              .input-group.dropdown
                input.form-control.editableselect(type="text", name='userGroupName', value=userSession[0] ? userSession[0].userGroupName : '', id='userGroupName')
                ul.dropdown-menu
                  each item in groupUsers
                    li
                      a(href='#', data-value=item.groupName) #{item.groupName}
                span.input-group-addon.dropdown-toggle(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                  span.caret
            td(style='width: 180px;')
              select.form-control(name='mark', id='mark', value=userSession[0]? userSession[0].mark : '', disabled='disabled')
                option(value="") -- 選択 --
                each mark in marks
                  if (userSession[0] && mark.path == userSession[0].mark)
                    option(value=mark.path, selected="selected") #{mark.mark}
                  else
                    option(value=mark.path) #{mark.mark}

            td(style='width: 180px;')
              input.form-control(type='text', name='userId', id='userId', value=userSession[0]? userSession[0].userId : '', placeholder='ユーザー名')
            td(style='width: 180px;')
              input.form-control(type='text', name='password', id='password', value=userSession[0]? userSession[0].password : '', placeholder='パスワード')
            td(style='width: 180px;')
              input.form-control(type='text', name='phone', id='phone', value=userSession[0]? userSession[0].phone : '', placeholder='電話番号')
            td
              input.btn.btn-success(type='submit', value='追加', id='submitUserGroup')
          tr
            td(colspan=6)
              .btn-group.pull-right
                button.btn.btn-default.display-none(id='cancelUpdateUserGroup') キャンセル
                input.btn.btn-danger.display-none(type='submit', value='更新', id='updateUserGroup')
    include ../script.pug

