doctype html
html(lang='ja')
  head
    include ../header.pug
    include ../mapbox.pug
    script 
      - var users = JSON.stringify(groupUsers);
      - var spots = JSON.stringify(groupSpots);
      |var groupUsers=!{users};
      |var groupSpots=!{spots};
      |var roomName = "#{roomName}";
      |var userName = "#{userName}";      
  body
    include ../navi.pug    
    .container-fluid 
      .row
        .col-sm-8
          #map
        .col-sm-4
          form.input-group
            input#messageForm.form-control(type='text', autocomplete='off')
            span.input-group-btn
              button#sendMessageBtn.btn.btn-primary(type='button') Send
          #messageView
          
    include ../script.pug
    include ../mgr_map_setup.pug
    script(src='/javascripts/mgr_loc_sync.js')
