doctype html
html(lang='ja')
  head
   include ../header.pug
  body
   include ../navi.pug

    .container
      .starter-template
         h1 Authenticate / Authorize Sample Project
         p.lead
           br
           |           This sample use Node.js, Express, Passport, MongoDB.
           |           You can learn how to build authn/authz function.
         p.lead
           a.btn.btn-primary.btn-lg(type='button', href='/account/login') Sign-in
           // .container

   include ../script.pug

