meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{title}
link(rel='stylesheet', href='/third_party/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/third_party/jquery-editable-select/dist/jquery-editable-select.min.css')
link(rel='stylesheet', href='/third_party/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/stylesheets/style.css')
style.
  body {
  padding-top: 80px;
  }
  
  #map {
  position: absolute;
  width: 100%;
  height: 500px;
  }
  
  //- .coordinates {
  //- background: rgba(0, 0, 0, 0.5);
  //- color: #fff;
  //- position: absolute;
  //- bottom: 30px;
  //- left: 10px;
  //- padding: 5px 10px;
  //- margin: 0;
  //- font-size: 11px;
  //- line-height: 18px;
  //- border-radius: 3px;
  //- display: none;
  //- }