nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    if(isAuthenticated && isManager)
        a.navbar-brand(href='/manager/system') Marble tour
    if(isAuthenticated && isManager)
      ul.nav.navbar-nav
        li
          a(href="/manager/system") メニュー
    #navbar.collapse.navbar-collapse
      
      form(action='/account/logout', method='POST')
        if(isAuthenticated)
          button.btn.btn-default.navbar-btn.navbar-right(type='submit') ログアウト
    // /.nav-collapse