script(type='text/javascript', src='/third_party/jquery/dist/jquery-2.1.1.min.js')
script(type='text/javascript', src='/third_party/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/third_party/jquery-editable-select/dist/jquery-editable-select.min.js')
script(type='text/javascript', src='/third_party/bootstrap/dist/js/moment-with-locales.js')
script(type='text/javascript', src='/third_party/bootstrap/dist/js/bootstrap-datetimepicker.js')
script(type='text/javascript', src='/third_party/bootstrap/dist/js/prettify-1.0.min.js')
script(type='text/javascript', src='/js/custom.js')
script(type='text/javascript', src='/third_party/bootstrap/js/collapse.js')
