doctype html
html(lang='ja')
  head
    include ../header.pug
  body
    include ../navi.pug
    .container
      .col-sm-offset-4.col-sm-4
        h1.text-center
          |  ログイン
        .panel.panel-default
          .panel-body
            form.form-horizontal(method='POST', action='/account/login')
              .input-group
                span.input-group-addon
                  i.fa.fa-envelope
                input#userId.form-control(type='text', name='userId')
              br
              .input-group
                span.input-group-addon
                  i.fa.fa-key
                input#password.form-control(type='password', name='password')
              br
              input.btn.btn-success.btn-lg.btn-block(type='submit', value='ログイン')
              br
              if(message)
                .alert.alert-danger(role="alert")
                  i.fa.fa-
                  span.sr-only  ERROR:
                  | #{message}
    include ../script.pug

