doctype html
html(lang='ja')
  head
    include ../header.pug
  body
    include ../navi.pug
    .container
      .col-sm-offset-3.col-sm-6
        h1
          i.fa.fa-user
          |  profile page
        table.table.table-bordered
          each val, key in user
            tr 
              th.col-sm-3 #{key}
              td.col-sm-9 #{val} 
        form.text-right(method='POST', action='/account/logout')
          input.btn.btn-default.btn-lg(type='submit', value='sign-out')
    // .container
    include ../script.pug

