doctype html
html(lang='ja')
  head
    include ../header.pug
  body
    include ../navi.pug
    .container
      if(errors && errors.length > 0)
        .alert.alert-danger(role="alert")
          each err in errors
            i.fa.fa-exclamation
            |   #{err}
            br
      if(success && success.length > 0)
        .alert.alert-success(role="alert")
          i.fa.fa-info-circle
          |   #{success}
      table.table
        thead
          tr
            th
              | #
            th
              | 有効・無効
            th
              | ユーザーID
            th
              | パスワード
            th
              | 所属
            th
              | Eメール
            th
              | 電話番号
            th
              | 有効期限
            th
              | 
          
          each manager in listManagers
            tr
              td
                | #{manager.count}
              td
                if (manager.loginStatus && manager.loginStatus == 1)
                  input.form-check-input(disabled='disabled', type='checkbox', name='loginStatus', checked=true)
                else
                  input.form-check-input(disabled='disabled', type='checkbox', checked=false) 
              td
                | #{manager.userId}
              td
                | #{manager.password}
              td
                | #{manager.affiliation}
              td
                | #{manager.email}
              td
                | #{manager.phone}
              td
                | #{manager.activePeriod}
              td
                .btn-group
                  button.btn.btn-success(type='button', 
                  onclick="changeContractor('" + manager.id + "')") 変更
                  a.btn.btn-default(href='/admin/contractor/delete/' + manager.userId) 削除
      form(action='/admin/contractor/create', method='POST', id='contractorForm')
        table.table
          tr
            td
              input(type='hidden', value=adminId, name='adminId')
            td
              input.form-check-input(type='checkbox', name='loginStatus', checked=true, id='loginStatus')
            td
              input.form-control(type='text', name='userId', value=managerSession[0]? managerSession[0].userId : '', placeholder='ユーザーID', id='userId')
            td
              input.form-control(type='text', name='password', value=managerSession[0]? managerSession[0].password : '', placeholder='パスワード', id='password')
            td
              input.form-control(type='text', name='affiliation', value=managerSession[0]? managerSession[0].affiliation : '', placeholder='所属', id='affiliation')
            td
              input.form-control(type='email', name='email', value=managerSession[0]? managerSession[0].email : '', placeholder='Eメール', id='email')
            td
              input.form-control(type='text', name='phone',value=managerSession[0]? managerSession[0].phone : '', placeholder='電話番号', id='phone')
            td 
              div.input-group.date#datetimepickerDuration
                input.form-control(type='text', name='activePeriod',value=managerSession[0]? managerSession[0].activePeriod : '', data-date-format="YYYY/MM/DD", id='activePeriod')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            td
              input.btn.btn-success(type='submit', value='追加', id='addContractor')
          tr
            td(colspan=8)
              button.btn.btn-default.pull-right.display-none(id='cancelUpdate') キャンセル
            td
              input.btn.btn-danger.pull-right.display-none(type='submit', value='更新', id='updateContractor')
    include ../script.pug

